/* Variables for portfolio's fonts and color themes */
:root {
  /* Colors */
  --mainBackground: #1d1e26;
  --secondaryBackground: #5e35f2;
  --accentOne: #8c5cf2;
  --accentTwo: #86ff9a;
  --accentThree: #f20587;
  
  /* visual divider */
  --gradient: linear-gradient(
    90deg,
    rgba(253, 29, 29, 1) 0%,
    rgba(207, 141, 48, 1) 100%
  );
  --white: rgb(240, 240, 240);
  --black: rgb(14, 14, 14);

  /* Fonts */
  --titleFont: "Hind", sans-serif;
  --bodyFont: "Montserrat", sans-serif;
  --font-size: 1.2rem;
}

/* Universal box sizing with inheritance */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* main web page styling */
body {
  /* clear browser inserted margins  */
  margin: 0;
  padding: 0;
  /* general font  */
  font-size: var(--font-size);
  font-family: var(--bodyFont);
  color: var(--white);
  /* general background color  */
  background-color: var(--mainBackground);
}

/* clear default margin on text elements */
h1,
h2,
h3,
p {
  margin: 0;
}

/* General links */
a {
  color: #c5006c;
}

a:hover {
  color: var(--accentThree);
  text-decoration: none;
}

/******* Intro Styles *******/
.aboutMe {
  padding: 2rem 2rem 10rem;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

.aboutMe p {
  font-size: 1rem;
  line-height: 2;
  margin: 1rem auto;
}

.aboutMe h2 {
  font-size: 3rem;
}

.name {
  font-size: 4rem;
  font-family: var(--titleFont);
  color: var(--accentTwo);
  /* Set name on indiviual line */
  display: block;
  line-height: 1;
  margin: 0.5rem 0;
}

.intro {
  font-weight: bolder;
  line-height: 1;
}

/******* Contact Me Styles *******/
.contact {
  background-color: var(--secondaryBackground);
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 10rem 2rem;
}

.contact a {
  color: var(--white);
  text-decoration: none;
}

.contact p:last-child {
  margin-top: 3rem;
}

/******* Navigation Styles *******/
nav {
  /* border for layout purposes */
  /* border: solid 2px red; */
  width: 100%;
  font-family: var(--bodyFont);
  font-size: 80%;
  padding: 1rem;
}

/* Nav Flex Container */
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

nav ul li:first-child {
  /* extend 100% of available space  */
  flex-basis: 100%;
  text-align: center;
}

nav a {
  /* Border for layout testing */
  /* border: 1px solid white; */

  text-decoration: none;
  color: var(--white);
  /* display: block; */
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--accentThree);
}

nav h1 a {
  font-family: var(--titleFont);
  font-size: 2rem;
}

/******* Navigation Icon Styles *******/
nav [class*="fa-"] {
  font-size: 175%;
  color: var(--accentOne);
}

nav h1 [class*="fa-"] {
  font-size: 100%;
}

/* Call to action added to navigation for resume */
/******* Navigation Resume Button  *******/
.button {
  background-color: var(--accentThree);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.button:hover {
  color: var(--white);
  background-color: var(--accentOne);
}

/******** Footer Styles  *******/
footer {
  /* layout testing */
  /* border: 1px white solid; */

  text-align: center;
  margin: 4rem auto 2rem;
  padding: 4rem 0 0 0;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-flow: row wrap;

  margin: 1rem 0;
  padding: 0;
  font-size: 2.5rem;
  list-style-type: none;
}

footer a {
  color: var(--accentOne);
}

.copyright {
  font-size: 0.75rem;
}

/******* Visual Divider Styles *******/
.divider {
  height: 2px;
  width: 100%;
  background: rgb(253, 29, 29);
  background: var(--gradient);
}

/******* Styles for Projects section *******/
.projects {
  /* border: 1px solid white; */
  /* margin: 1rem auto; */
  /* padding: 2rem 1rem; */
  background-color: var(--accentOne);

  padding: 4rem 2rem 10rem;
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}

.projects h3 {
  font-family: var(--titleFont);
  /* font-size: 2rem; */
  color: var(--accentTwo);
  /* text-align: left; */
}

.projects h4 {
  margin: 1rem 0 0 0;
  font-size: 1rem;
  /* font-weight: bolder; */
  /* text-align: left; */
  /* padding-top: 1rem; */
}

.projects p {
  font-size: 1rem;
  background-color: var(--mainBackground);
  border-radius: 25px;
  padding: 1rem;
  line-height: 1.5;
  width: 90%;
  margin: 1rem auto;
}

.projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.projectItem {
  /* border: 1px solid red; */
  width: 100%;
  margin: 0 auto;
  /* text-align: center; */
}

.projects img {
  margin: 2rem auto 4rem auto;
  width: 90%;
  display: block;
  max-width: 700px;
  border-radius: 25px;
  padding: 1rem;
  border-left: 1px solid var(--accentTwo);
  border-bottom: 1px solid var(--accentTwo);
}

/* Styles for list of techologies project is built with */
.techList {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}



/******* Styles for larger viewports *******/
@media (min-width: 800px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  /* Aligns h1 with the rest of navigation links  */
  nav ul li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
