/* Variables for portfolio's fonts and color themes */

:root {
  /* Colors */
  --mainBackground: #1d1e26;
  --secondaryBackground: #5e35f2;
  --accentOne: #8c5cf2;
  --accentTwo: #86ff9a;
  --accentThree: #f20587;
  --white: rgb(240, 240, 240);
  --black: rgb(14, 14, 14);

  /* Fonts */
  --titleFont: "Hind", sans-serif;
  --bodyFont: "Montserrat", sans-serif;
  --font-size: 1.2rem;
}

/* Universal box sizing with inheritance */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* main web page styling */
body {
  /* layout testing */
  /* background-color: lightblue; */
  /* border: 5px solid green; */

  /* clear browser inserted margins  */
  margin: 0;
  padding: 0;
  /* general font  */
  font-size: var(--font-size);
  font-family: var(--bodyFont);
  color: var(--white);
  /* general background color  */
  background-color: var(--mainBackground);

}

/* clear default margin on text elements */
h1, h2, h3, p{
  margin: 0;
}

/* General links */
a{
  color: #c5006c;
}
a:hover {
  color: var(--accentThree);
  text-decoration: none;
}

/******* Intro Styles *******/
.aboutMe{
  /* layout testing */
  /* background-color: chartreuse; */
  /* border: 3px dashed deeppink; */

  padding-bottom: 12rem;
}

.aboutMe p{
  font-size: 1rem;
  line-height: 1.5;
  width: 86%;
}
.aboutMe h2{
  font-size: 3rem;
}

.name{
  font-size: 4rem;
  font-family: var(--titleFont);
  color: var(--accentTwo);
  /* Set name on indiviual line */
  display: block;
}

/******* Contact Me Styles *******/
.contact{
  background-color: var(--secondaryBackground);
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}

.contact p:last-child{
  margin-top: 3rem;
}

/******* Navigation Styles *******/
nav{
  /* text-align: center; */
}

nav ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav ul:first-child{
  flex-basis: 100%;
}


nav ul li{
  list-style-type: none;
}

nav a{
  text-decoration: none;
}

nav h1 a{
  font-family: var(--titleFont);
  font-size: 2rem;
}

