/* TODO: Delete unused styles  */

/* Variables for portfolio's fonts and color themes */
:root {
  /* main page background  */
  --mainBackground: #121212;
  /* contact me background color  */
  --contactBackground: #2f7ac5;
  /* --contactBackground: #38bad1; */
  /* icons */
  --icons: #03c9c9;
  /********** Projects **********/
  /* project background color  */
  --projectsBackground: #6e5494;
  /* project title and image border color  */
  --projectsTitle: #03c9c9;
  /* Name and menu hamburger color */
  /* accessibility fail  */
  --accentTwo: #03c9c9;
  /* links and resume */
  /* accessibility fail  */
  --accentThree: #eb21a5;
  /* Mobile Menu Background */
  --menuBackground: #1f1f1f;
  /* Linear Gradient  */
  --linearGradient: repeating-linear-gradient(
      135deg,
      #2b2b2b 0%,
      #2b2b2b 10%,
      #222222 0%,
      #222222 50%
    )
    0 / 15px 15px;

  /* visual divider */
  --gradient: linear-gradient(90deg, #eb21a5 50%, #03c9c9 100%);
  --white: rgb(240, 240, 240);
  --black: rgb(14, 14, 14);

  /* Fonts */
  --titleFont: "Sanchez", sans-serif;
  --bodyFont: "Montserrat", sans-serif;
  --font-size: 1.2rem;
}

/*********** Universal box sizing with inheritance ***********/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* * {
  border: 1px solid red;
} */

/*********** main web page styling ***********/
/* header {
  background-color: var(--linearGradient);
} */
body {
  /* clear browser inserted margins  */
  margin: 0;
  padding: 0;
  
  /* Body text font  */
  font-size: var(--font-size);
  font-family: var(--bodyFont);
  color: var(--white);

  /* general background color  */
  background-color: var(--mainBackground);
}

/* clear default margin on text elements */
h1,
h2,
h3,
p {
  margin: 0;
}

h2 {
  margin-bottom: calc(2.2rem * 1.5);
  margin-top: 2rem;
  text-align: left;
}


/*********** General links ***********/
a {
  color: var(--accentThree);

  /* timing for hover color transition */
  transition: all 0.5s ease 0s;
}

a:hover {
  color: #03c9c9;
  text-decoration: none;
  /* links animate on Y axis on hover */
  transform: translateY(-7px);
}

/***************** Navigation Styles *****************/

nav {
  display: block;
  font-family: var(--bodyFont);
  font-size: 80%;
  padding: 1rem;
  position: static;
  width: 100%;
  height: auto;
  overflow: auto;
  display: block;
  transform: translateY(0);
}

/* Nav Flex Container */
nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: auto;
  padding: 0;

  background-color: var(--linearGradient);
}

nav ul li:first-child {
  /* extend 100% of available space  */
  flex-basis: 100%;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: var(--white);
  display: block;
}

/* Remove hover color from icon */
#navHeading :first-child {
  color: var(--icons);
}






nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--accentThree);
}

nav h1 {
  font-family: var(--titleFont);
  font-size: 2rem;
}

/***************** Navigation Icon Styles *****************/
nav [class*="fa-"] {
  font-size: 175%;
  color: var(--icons);
}

nav h1 [class*="fa-"] {
  font-size: 100%;
}

.hamburger,
.close {
  /* visibility: hidden; */
  display: none;
}

.close {
  text-align: right;
}

/* Call to action added to navigation for resume */
/***************** Navigation Resume Button  *****************/
.button {
  background-color: var(--accentThree);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  /* text-decoration: none; */

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.button:hover {
  color: var(--black);
  background-color: var(--icons);

  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);

  /* transform: translateY(-7px); */
}

/***************** Intro Styles *****************/
/* #about {
  margin-top: 3rem;
} */

.aboutMe {
  padding: 4rem 2rem 10rem;
  max-width: 1200px;
  /* margin-top: 2rem; */
}

.aboutMe p {
  font-size: 1rem;
  line-height: 2;
  margin: 1rem auto;
}

.aboutMe h2 {
  font-size: 3rem;
}

.name {
  font-size: 2rem;
  font-family: var(--titleFont);
  color: var(--accentTwo);
  /* Set name on indiviual line */
  display: block;
  line-height: 1;
  margin: 0.5rem 0;
}

.intro {
  font-weight: bolder;
  line-height: 1;
}

/***************** Contact Me Styles *****************/
.contact {
  background-color: var(--contactBackground);
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 4rem 2rem 10rem;
}

/* .contact h2 {
  text-align: left;
} */

.contact a {
  color: var(--white);
  text-decoration: none;
}

.contact p {
  padding: 1rem 0;
}

.contact p:last-child {
  margin-top: 3rem;
  /* text-align: center; */
}

/****************** Footer Styles  *****************/
footer {
  text-align: center;
  margin: 4rem auto 2rem;
  padding: 4rem 0 0 0;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-flow: row wrap;
  margin: 2rem auto;
  padding: 0;
  font-size: 2.5rem;
  list-style-type: none;
}

footer a {
  color: var(--icons);
}
footer a:hover {
  color: #c5006c;
}

.nameTitleContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  margin: auto 1rem;
}

.copyright {
  font-size: 0.75rem;
}

/***************** Visual Divider Styles *****************/
.divider {
  height: 3px;
  width: 100%;
  background: rgb(253, 29, 29);
  background: var(--gradient);

  background-size: 400% 400%;

  -webkit-animation: gradientAnimate 17s ease infinite;
  -moz-animation: gradientAnimate 17s ease infinite;
  animation: gradientAnimate 17s ease infinite;
}

@-webkit-keyframes gradientAnimate {
  0% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 100%;
  }
}
@-moz-keyframes gradientAnimate {
  0% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 100%;
  }
}
@keyframes gradientAnimate {
  0% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 100%;
  }
}

/* First divider at top of page */
.divider:first-of-type {
  height: 5px;
}

/***************** Styles for Projects section *****************/
.projects {
  background-color: var(--projectsBackground);
  padding: 4rem 2rem 10rem;
}

.projects h2 {
  font-size: 2.5rem;
  /* margin-bottom: calc(2.5rem * 1.5); */
}

.projects h3 {
  font-family: var(--titleFont);
  color: var(--projectsTitle);
}

.projects h4 {
  margin: 1rem 0 0 0;
  font-size: 1rem;
}

.projects p {
  font-size: 1rem;
  background-color: var(--mainBackground);
  border-radius: 25px;
  padding: 1rem;
  line-height: 1.5;
  width: 100%;
  margin: 1rem auto;
  color: var(--white);

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.projectList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.projectItem {
  width: 100%;
  margin: 0 auto;
}

.projects img {
  margin: 2rem auto 4rem auto;
  width: 90%;
  display: block;
  border-radius: 25px;
  padding: 1rem;
  border-right: 1px solid var(--projectsTitle);
  border-top: 1px solid var(--projectsTitle);
}

.indent {
  text-indent: 2rem;
}

/* Styles for list of techologies project is built with */
.techList {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
  list-style-type: none;
}

#middleImage {
  border-top: none;
  border-right: none;
  border-left: 1px solid var(--projectsTitle);
  border-bottom: 1px solid var(--projectsTitle);
}

/***************** 
            Styles for collapsing menu on smaller viewport
*****************/

.maxWidth {
  margin: 0 auto;
  width: 80%;
}

/* TODO: adjust style rules for small, medium and large viewports  */

/* Styles for smaller viewports  */
@media (max-width: 575px) {
  body {
    font-size: 1.5rem;
  }

  .maxWidth {
    width: 85%;
    margin: 0 auto;
  }

  h2 {
    text-align: center;
  }

  .aboutMe h2 {
    text-align: left;
    font-size: 2.5rem;
  }

  .hamburger,
  .close {
    display: block;
    font-size: 2rem;
    color: var(--accentTwo);
    padding: 1rem;
  }

  .hamburger {
    position: fixed;
    /* background-color: #1212129f; */
    /* border-radius: 0 0 25px 0; */

    /* width: 100%; */
  }

  .navName {
    display: block;
    padding-bottom: 2.5rem;
  }

  .divider:first-of-type {
    height: 10px;
  }

  nav {
    /* padding: 0; */
    /* border: 1px solid white; */

    font-size: 2rem;

    display: flex;
    flex-direction: column-reverse;
    /* background-color: var(--menuBackground); */
    /* background-color: #121212; */
    /* background-color: white; */

    background: var(--linearGradient);

    position: fixed;
    z-index: 1000;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    /* Move Nav off viewport when triggered */
    transform: translateY(-100%);
    transition: transform 0.2s ease;
  }

  nav a {
    display: block;
  }

  nav:target {
    transform: translateY(0);
  }

  nav ul {
    /* background-color: lightgreen; */
    /* border: 1px solid white; */

    display: flex;
    width: 100%;
    flex-flow: column;
    gap: 1rem;
    padding: 0;
  }

  .projects img {
    width: 100%;
  }

  .contact p:last-child {
    text-align: center;
  }
  /* } */

  /* Footer styles for mobile viewports */
  /* @media (max-width: 575px) { */
  footer {
    padding: 0;
    margin-top: 2rem;
  }
  .nameTitleContainer {
    flex-flow: column wrap;
    gap: 0;
    line-height: 0.8;
  }
  .nameFooter {
    font-size: 1.5rem;
  }
  .titleFooter {
    font-size: 1.3rem;
  }

  /* h1 {
    margin-bottom: 3rem;
  } */
}

/***************** Styles for larger viewports *****************/
@media (min-width: 1040px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
  }

  /* nav ul {
    width: 75%;
  } */

  /* Aligns h1 with the rest of navigation links  */
  nav ul li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }

  /* Grid container  */
  .projectItem {
    /* layout testing border  */
    /* border: solid 1px red; */
    margin: 4rem auto;
    display: grid;
    gap: 2rem;

    /* project overlap styles  */
    align-items: center;

    grid-template-columns: repeat(5, 1fr);
  }
  .text {
    order: 2;
    /* project overlap styles  */
    grid-column: 1/4;
    grid-row: 1/2;
  }

  /* .text p {
    text-indent: 2rem;
  } */

  .projectItem img {
    margin: 1rem auto;
    width: 100%;

    /* project overlap styles  */
    grid-column: 3/6;
    grid-row: 1/2;
  }

  /* styles for content widths  */
  .maxWidth {
    margin: 0 auto;
    width: 70%;
    max-width: 1200px;
  }

  .middleText {
    grid-column: 3/6;
    text-align: right;
  }

  .middleText p {
    text-align: left;
  }

  .middleText > .techList {
    justify-content: flex-end;
  }

  #middleImage {
    grid-column: 1/4;
  }
}
